body {
  margin: 0;
  padding: 0;
  background: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

.form-div, .users-div {
  /* background-color: blanchedalmond; */
  /* margin: auto; */
  margin: 45px auto;
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}

.form-div label {
  line-height: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.form-div input {
  display: block;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 12px;
  font-size: 17.5px;
  width: 70%;
  border: 1px solid #000;
  background: #7EE8FA;
  color: #432929;
}

#user-msg {
  font-size: 17px;
}

.form-btn, .random-btn {
  padding: 8px 10px;
  color:crimson;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  border-radius: 8px;
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  margin-right: 30px;
  margin-top: 50px;
}

.users-div {
  background-color: cadetblue;
}

.user {
  background: linear-gradient(to right, #80FF72, #7EE8FA);
  padding: 10px 15px;
  border: 2px solid #000;
  border-radius: 8px;
  color: #541e1e;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.users-div .users-table {
  border-collapse: collapse;
  width: 100%;
}

.pro-img {
  padding-right: 15px;
  text-align: center;
  width: 80px;
}

.pro-img img {
  padding-right: 0;
  width: 35px;
}

.user-name {
  width: 150px;
  padding-right: 50px;
}

.user-name:hover {
  cursor: pointer;
}

#tweet-msg {
  padding-left: 60px;
}

.heart-img {
  width: 18px;
}

.users-div img {
  margin: 9px 10px 3px 0;
}

.users-div .msg-noClick {
  margin: 9px 10px 3px 70px;
}
